/*@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Merriweather:300');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
:root {
  --title-font-family: 'Raleway', sans-serif;;
  --body-font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  display: grid;
}

hr {
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  border: 0;
  margin-bottom: 15px;
}
h3 {
  font-family: var(--title-font-family);
  margin-top: 0;
}
#code-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
}

.sub-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .45em;
  font-family: var(--body-font-family);
  font-style: italic;
}
.url-link {
  font-style: normal;
  text-decoration: underline;
  font-size: 1.4em;
}
#room-view {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
#box-home {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
#enter-name {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.box {
  width: 100vw;
  height: min-content;
  position: relative;
  background: white;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px 45px 45px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.box input {
  font-family: var(--body-font-family);
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 0;
}
#room-code-input {
  width: 80%;
}
#enter-room-btn {
  width: 20%;
  font-size: 2.5rem;
  vertical-align: middle;
  color: #8D44AD;
}
#enter-room-btn:hover {
  color: #AB69C8;
  cursor: pointer;
}
#enter-name-btn {
  margin-top: 15px;
}

.box button {
  font-family: var(--body-font-family);
  text-transform: uppercase;
  background: #8D44AD;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.box button:hover,.box button:active,.box button:focus {
  background: #AB69C8;
}
#or {
  font-family: var(--body-font-family);
}
.hide {
  display: none;
}

body {
  background: #8e44ad; /* fallback for old browsers */
  background: -webkit-linear-gradient(right,#8e44ad,#9b59b6);
  background: -o-linear-gradient(right,#8e44ad,#9b59b6);
  background: linear-gradient(to left, #8e44ad, #9b59b6);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}



