

/*@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Merriweather:300');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Fira+Sans');
:root {
  --title-font-family: 'Fira+Sans' !important;
  --body-font-family: 'Montserrat' !important;
}
#root{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container {
      width: 360px
    }

}

.url-link {
  font-style: normal;
  text-decoration: underline;
  font-size: 1.4em;
}

body {
  background-color: #8e44ad !important;/* fallback for old browsers */
  background: -webkit-linear-gradient(right,#8e44ad,#9b59b6) !important;
  background: -o-linear-gradient(right,#8e44ad,#9b59b6) !important;
  background: linear-gradient(to left, #8e44ad, #9b59b6) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;  
}
/*-----CONTENT POSITIONING-----*/
.switch-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-self: end;
  transform: translateY(-50px)
}
 
.switch-wrapper > div {
  position: absolute;
}
/*-------------END CONTENT POSITIONING----------------*/

/*-------------BOX STYLING----------------*/
.box {
  background: white;
  padding: 30px 45px 45px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 380px;
  height: 340px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  font-family: var(--title-font-family) !important;
  width: 100%;
}
.header .header-content {
  display: inline;
}

.content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
/* Generate Room Button */
.box button {
  font-family: var(--body-font-family);
  text-transform: uppercase;
  background: #8D44AD;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.box button:hover,.box button:active,.box button:focus {
  background: #AB69C8;
}

#or {
  font-family: var(--body-font-family);
}
/* Enter room code */
.box input {
  font-family: var(--body-font-family);
  background: #f2f2f2;
  border: 0;
  padding: 15px;
  font-size: 16px;
}

.box-validation {
  color: red;
  font-family: var(--body-font-family);
  font-size: 13px;
  text-align: left;
}

#enter-room-btn {
  width: 20%;
  font-size: 2.5rem;
  vertical-align: middle;
  color: #8D44AD;
}
#enter-room-btn:hover {
  color: #AB69C8;
  cursor: pointer;
}
#enter-name-btn {
  margin-top: 15px;
}


/*----------END BOX STYLING--------------*/
.hide {
  display: none;
}


.grid-cell {
  padding: .7rem !important;
}
.divider {
  font-family: var(--body-font-family) !important;
  text-transform: lowercase !important;
  font-weight: normal !important;
  font-size: 1.1rem !important;
}



