

/*@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Merriweather:300');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Fira+Sans');
:root {
  --title-font-family: 'Fira+Sans' !important;
  --body-font-family: 'Montserrat' !important;
}
* {
  box-sizing: border-box;
}
.container {
  padding: 8% 0 0;
  margin: auto;
  display: grid;
  width: 500px;
}
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container {
      width: 360px
    }

}

/* hr {
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  border: 0;
  margin-bottom: 15px;
} */
.header {
  font-family: var(--title-font-family) !important;
  margin-top: 0 !important;
}
#code-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
}

.sub-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .45em;
  font-family: var(--body-font-family) !important;
}
.url-link {
  font-style: normal;
  text-decoration: underline;
  font-size: 1.4em;
}
#room-view {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
#box-home {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
#enter-name-box {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.box {
  width: 100vw;
  height: min-content;
  max-height: 600px;
  position: relative;
  background: white;
  max-width: 360px;
  margin: 0 auto;
  padding: 30px 45px 45px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.box-room {
  width: 100%;
  max-width: none;
}

.box input {
  font-family: var(--body-font-family);
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 0;
}
#room-code-input {
  width: 80%;
}
.box-validation {
  color: red;
  font-family: var(--body-font-family);
  font-size: 13px;
  text-align: left;
}
#enter-room-btn {
  width: 20%;
  font-size: 2.5rem;
  vertical-align: middle;
  color: #8D44AD;
}
#enter-room-btn:hover {
  color: #AB69C8;
  cursor: pointer;
}
#enter-name-btn {
  margin-top: 15px;
}

.box button {
  font-family: var(--body-font-family);
  text-transform: uppercase;
  background: #8D44AD;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;

}

.box button:hover,.box button:active,.box button:focus {
  background: #AB69C8;
}
#or {
  font-family: var(--body-font-family);

}
.hide {
  display: none;
}

body {
  background-color: #8e44ad !important;/* fallback for old browsers */
  background: -webkit-linear-gradient(right,#8e44ad,#9b59b6) !important;
  background: -o-linear-gradient(right,#8e44ad,#9b59b6) !important;
  background: linear-gradient(to left, #8e44ad, #9b59b6) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;      
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.grid-cell {
  padding: .7rem !important;
}
.divider {
  font-family: var(--body-font-family) !important;
  text-transform: lowercase !important;
  font-weight: normal !important;
  font-size: 1.1rem !important;
}